<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pesanan Saya </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reload()">
        <ion-icon name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pesanan Saya</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="reload()">
          <ion-icon name="reload-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <!-- Order Card Dynamic-->
      <ion-col *ngFor="let order of orders" size="12" size-md="8">
        <ion-card color="dark" class="ion-no-margin">
          <ion-card-content class="ion-no-margin">
            <ion-item color="dark" lines="none">
              <span slot="start">Kode Transaksi</span>
              <span slot="end">{{order.order_id}}</span>
            </ion-item>
            <ion-item color="dark" lines="none">
              <span slot="start">Mobil</span>
              <span slot="end">{{order.car_name}}</span>
            </ion-item>
            <ion-item color="dark" lines="none">
              <span slot="start">Durasi</span>
              <span slot="end">{{order.duration}} hari</span>
            </ion-item>
            <ion-item color="dark" lines="full">
              <span slot="start">Tanggal Konfirmasi</span>
              <span slot="end"
                >{{order.confirmed_date ? order.confirmed_date : '-'}}</span
              >
            </ion-item>
            <ion-item color="dark" lines="none">
              <span class="price" slot="start">{{order.price_string}}</span>
              <span
                class="ion-text-end ion-no-margin {{order.status}}"
                slot="end"
              >
                {{order.status_string}}
              </span>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Order Card End -->
    </ion-row>
  </ion-grid>
  <!-- <app-explore-container name="Tab 5 page"></app-explore-container> -->
</ion-content>
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
