ion-card-title {
  padding-top: 1%;
  margin-bottom: 3%;
  font-weight: 700;

  @media (max-width: 577px) {
    font-size: 1.3rem;
  }
  @media (min-width: 578px) {
    font-size: 2rem;
    margin-bottom: 5%;
  }
}

ion-card-content {
  margin-left: 1%;
  @media (max-width: 577px) {
    font-size: 1rem;
  }
  @media (min-width: 578px) {
    font-size: 1.2rem;
  }
}

ion-card-content ion-col span {
  display: flex;

  @media (min-width: 578px) {
    margin-bottom: 5%;
  }
}

.price {
  font-weight: 600;
  @media (max-width: 577px) {
    font-size: 1rem;
  }
  @media (min-width: 578px) {
    font-size: 1.5rem;
  }
}

ion-card.status {
  border-radius: 25px;

  ion-card-content {
    font-weight: 600;
    @media (max-width: 577px) {
      padding: 0.3rem 0;
      font-size: 0.8rem;
    }
    @media (min-width: 578px) {
      font-size: 1.2rem;
    }
  }
}

ion-modal {
  --min-width: 80vw;
  --min-height: 80vh;

  ion-card-title {
    padding-top: 5%;
  }

  ion-card {
    border-radius: 20px;
  }

  .car-details {
    padding: 0 30% !important;
    font-size: 1.3em;
    @media (min-width: 992px) {
      padding: 0 20% !important;
    }
  }

  .price {
    display: block;
    text-align: center;
    ion-input {
      display: inline-block !important;
      max-width: 8% !important;
      text-align: center !important;
      width: 30px !important;
      @media (min-width: 578px) {
        width: 40px !important;
      }
      border-radius: 10px !important;
      --background: #ccc;
    }
  }

  .label {
    display: inline-block;
    min-width: 50px;
  }

  ion-item::part(native) {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    @media (min-width: 786px) {
      --padding-start: 10px;
      --padding-end: 10px;
    }
  }

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    ion-input {
      max-width: 30% !important;
    }
  }

  .btn-edit-form {
    width: 5rem !important;
    @media (min-width: 578px) {
      font-size: large;
      height: 3rem !important;
      width: 10rem !important;
    }
  }
}
