<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pesanan Masuk </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reload()">
        <ion-icon name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pesanan Masuk</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="reload()">
          <ion-icon name="reload-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <!-- Order Card Dynamic -->
      <ion-col
        *ngFor="let order of orders"
        size="12"
        size-md="8"
        class="ion-margin-bottom"
      >
        <ion-card color="dark" class="ion-no-margin">
          <ion-card-content class="ion-no-margin">
            <ion-item color="transparent" lines="none">
              <span slot="start">Kode Transaksi</span>
              <span slot="end">{{order.order_id}}</span>
            </ion-item>
            <ion-item color="transparent" lines="none">
              <span slot="start">Durasi</span>
              <span slot="end">{{order.duration}} hari</span>
            </ion-item>
            <ion-item color="transparent" lines="none">
              <span slot="start">Penyewa</span>
              <span slot="end">{{order.renter_name}}</span>
            </ion-item>
            <ion-item color="transparent" lines="none">
              <span slot="start">Mobil</span>
              <span slot="end">{{order.car_name}}</span>
            </ion-item>
            <ion-item color="transparent" lines="none">
              <span class="price" slot="start">{{order.price_string}}</span>
              <ion-button
                *ngIf="order.status == 'processing'"
                color="danger"
                shape="round"
                slot="end"
                size="large"
                class="ion-no-margin"
                (click)="rejectOrder(order.order_id)"
              >
                <ion-icon name="close-outline" slot="start"></ion-icon> Tolak
              </ion-button>
              <ion-button
                *ngIf="order.status == 'processing'"
                color="primary"
                shape="round"
                slot="end"
                size="large"
                class="ion-no-margin"
                (click)="confirmOrder(order.order_id)"
              >
                <ion-icon name="help-outline" slot="start"></ion-icon>
                Konfirmasi
              </ion-button>
              <ion-button
                *ngIf="order.status == 'confirmed'"
                color="light"
                shape="round"
                slot="end"
                size="large"
                class="ion-no-margin"
                (click)="finishRent(order.order_id)"
              >
                <ion-icon name="help-outline" slot="start"></ion-icon>
                Selesaikan
              </ion-button>
              <ion-button
                *ngIf="order.status == 'done'"
                color="medium"
                shape="round"
                slot="end"
                size="large"
                class="ion-no-margin"
                disabled
              >
                <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                Selesai
              </ion-button>
              <ion-button
                *ngIf="order.status == 'rejected'"
                color="danger"
                shape="round"
                slot="end"
                size="large"
                class="ion-no-margin"
                disabled
              >
                <ion-icon name="close-outline" slot="start"></ion-icon>
                Ditolak
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Order Card End -->
    </ion-row>
  </ion-grid>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
