ion-card-title {
  padding-top: 1%;
  margin-bottom: 3%;
  font-weight: 700;

  @media (max-width: 577px) {
    font-size: 1rem;
  }
  @media (min-width: 578px) {
    font-size: 1.6rem;
  }
  @media (min-width: 992px) {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }
}

ion-card-content {
  margin-left: 1%;

  @media (max-width: 577px) {
    font-size: 0.5rem;
  }
  @media (min-width: 578px) {
    font-size: 0.8rem;
  }
  @media (min-width: 992px) {
    font-size: 1.2rem;
  }
}

ion-card-content ion-col span {
  display: block;

  @media (min-width: 992px) {
    margin-bottom: 5%;
  }
}

.price {
  font-weight: 600;
  @media (max-width: 577px) {
    font-size: 0.6rem;
  }
  @media (min-width: 578px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1.8rem;
  }
}

ion-button {
  font-weight: 600;
}

ion-card ion-button {
  @media (max-width: 577px) {
    padding: 0.2rem 0.1rem;
    width: 70%;
    font-size: 0.6rem;
  }
  @media (min-width: 578px) {
    width: 50%;
    font-size: 0.9rem;
  }
}

ion-modal {
  --min-width: 80vw !important;
  --min-height: 90vh !important;
  ion-card {
    border-radius: 20px;
  }

  .profile {
    display: inline-block;
    position: relative;
    .pic-profile {
      width: 35vh;
      height: 35vh;
      border-radius: 50%;
    }

    .btn-profile-right {
      position: absolute;
      z-index: 5;
      bottom: 5%;
      right: 5%;
      width: 50px !important;
      height: 50px !important;
      --padding-start: 9px !important;
      --padding-end: 9px !important;
    }
  }

  .label {
    display: inline-block;
    min-width: 50px;
  }

  ion-item::part(native) {
    margin-bottom: 1rem;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    @media (min-width: 786px) {
      --padding-start: 10px;
      --padding-end: 10px;
    }
  }

  .btn-form {
    width: 5rem !important;
    @media (min-width: 786px) {
      width: 6rem !important;
    }
  }
}
