ion-card-title {
  padding-top: 1%;
  margin-bottom: 3%;
  font-weight: 700;

  @media (max-width: 577px) {
    font-size: 1rem;
  }
  @media (min-width: 578px) {
    font-size: 1.6rem;
  }
  @media (min-width: 992px) {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }
}

ion-card-content {
  margin-left: 1%;

  @media (max-width: 577px) {
    font-size: 0.5rem;
  }
  @media (min-width: 578px) {
    font-size: 0.8rem;
  }
  @media (min-width: 992px) {
    font-size: 1.2rem;
  }
}

ion-card-content ion-col span {
  display: block;

  @media (min-width: 992px) {
    margin-bottom: 5%;
  }
}

.price {
  font-weight: 600;
  @media (max-width: 577px) {
    font-size: 0.6rem;
  }
  @media (min-width: 578px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1.8rem;
  }
}

ion-button {
  font-weight: 600;
}

ion-card ion-button {
  @media (max-width: 577px) {
    padding: 0.2rem 0.1rem;
    width: 70%;
    font-size: 0.6rem;
  }
  @media (min-width: 578px) {
    width: 50%;
    font-size: 0.9rem;
  }
}
